.cont {
 background-color: #f2d9e6;
}

.middle {
  text-align: center;
}

.section1 {
  margin: 6rem 0 6rem 0;
}

.red {
  width: 85%;
  margin: auto;
}

.name {
   color:  #003566;
}

.work { 
  color: #ff3300; 
}

.devide {
  margin: 6rem 0 6rem 0;
}

.angle {
  float: right;
}

.name1 {
  color: #662200;
}

.langskills p {
   font-size: 20px; 
}

.tech {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-top: 4rem;
  margin-left: -4.5rem;
}

.tech li {
  margin: .5rem;
  font-size: 15px;
  color:  #003566;
}

.bmodal {
  margin-left: -2rem; 
  margin-bottom: 5rem;
}

.cadre {
  margin: 4rem 0 4rem 0; 
}

.cadre:hover {
  cursor: pointer;
  border-radius: 1rem;
  border: 1px solid #d590b5;
}