.cont {
 background-color: #fff;
 font-family: 'Roboto Mono', monospace;
}

.red {
  position: fixed;
  top: 0;
  margin: auto;
  width: 100%;
  background-color: #f2f2f2;
  z-index: 10;
}

.navbar-left {
  font-size: 30px;
  color: #404040;
  padding: 7px 0 0 18%; 
}
.navbar-right {
  padding: 0 18% 0 0; 
}

.nav {
  display: flex;
}

.nav a i {
  font-size: 40px;
}

.about {
  text-align: center;
  padding-top: 10rem; 
  margin: 6rem; 
  background-color: #80ffbf;
  border-radius: 1rem;
}


.intro {
  color: #000;
  font-size: 25px;
}

.block-intro {
  margin-top: 8rem;
}


.footer-elements {
 display: flex;
 justify-content: space-around;
}

.footer {
  background-color: #14141f;
  width: 100%;
  border-radius: 1rem;
}

.footer-elements a i {
  font-size: 100px;
}


.link_live,
.link_source {
  font-size: 20px;
}

.link_live {
  margin-right: 1rem;
  border-right: 1px solid black;
  padding-right: 1rem;
}


.middle {
  text-align: center;
}

.section1 {
  margin: 6rem 0 6rem 0;
}


.name {
   color:  #000;
}

.work { 
  color: #ff5c33; 
}

.devide {
  margin: 6rem 0 6rem 0;
}

.angle {
  float: right;
}

.name1 {
  color: #662200;
}

.langskills p {
   font-size: 20px; 
}

.tech {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-top: 4rem;
  margin-left: -4.5rem;
}

.tech li,
.modal_cont {
  margin: .5rem;
  font-size: 20px;
  color: #000;
}

.bmodal {
  margin-left: -2rem; 
  margin-bottom: 5rem;
}

.cadre {
  margin: 4rem 0 4rem 0; 
}

.cadre:hover {
  cursor: pointer;
  border-radius: 1rem;
  border: 1px solid #d590b5;
  padding: 5rem;
}


input[type=text], input[type=email],select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

@media only screen and (max-width: 1100px) {

.navbar-left {
  display: none;
}
.navbar-right {
  display: flex;
}
.scroll {
  display: none;
}
}
<<<<<<< HEAD
=======

.profile {
	max-height: 80%;
}

.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: slide-in-elliptic-top-fwd 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-21 6:39:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.cadre p {
  font-size: 20px;
  margin-top: 3rem;
}

.middle i,
.scroll {
  font-size: 40px;
  margin: .6rem;
}

.modal_btn {
  margin-top: 0.5rem;
  padding: 1rem;
}
>>>>>>> 58e2f09280e9e47bb75d79002ae790af8d4f7344
