.cont {
 background-color: #f2d9e6;
}

.middle {
  text-align: center;
}

.section1 {
  margin: 6rem 0 6rem 0;
}

.red {
  width: 85%;
  margin: auto;
}

.name {
   color:  #003566;
}

.work { 
  color: #ff3300; 
}

.devide {
  margin: 6rem 0 6rem 0;
}

.angle {
  float: right;
}

.name1 {
  color: #662200;
}

.langskills p {
   font-size: 20px; 
}

.tech {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-top: 4rem;
  margin-left: -4.5rem;
}

.tech li {
  margin: .5rem;
  font-size: 20px;
  color:  #003566;
}

.bmodal {
  margin-left: -2rem; 
  margin-bottom: 5rem;
}

.cadre {
  margin: 4rem 0 4rem 0; 
}

.cadre:hover {
  cursor: pointer;
  border-radius: 1rem;
  border: 1px solid #d590b5;
}

.profile {
	max-height: 80%;
}

.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: slide-in-elliptic-top-fwd 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-21 6:39:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.cadre p {
  font-size: 20px;
  margin-top: 3rem;
}

.middle i {
  font-size: 40px;
  margin: 2rem;
}
